.container {
  position: relative;
  padding-top: 40px;
}

.label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.img {
  margin-right: 8px
}

.text-bold {
  margin-right: 8px;
  font-weight: 700;
}

.text-normal {
  color: #000000;
  border-bottom: 1px dashed #000000;
  cursor: pointer
}

.popup {
  position: absolute;
  right: 0;
  overflow: hidden;
  width: 160px;
  margin-top: 15px;
  padding: 10px 0;
  background: #ffffff;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
}

.list {
  overflow: hidden
}

.list-item {
  padding: 12px 20px;
  cursor: pointer
}

.list-item:hover {
  background: rgba(254, 95, 30, 0.05)
}

.list-item:active {
  font-weight: bold;
  color: #000000
}

.active {
  font-weight: bold;
  color: #000000
}