.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
}

.link {
  display: contents;
}

@media (max-width: 450px) {
  .wrapper {
    flex-direction: column-reverse;
    max-width: 200px;
    height: 150px;
    margin: auto;
  }
}