.filtering {
  padding-top: 40px;
}

.filtering__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filtering__list-item {
  margin: 10px 10px 10px 0;
  padding: 13px 30px;
  font-weight: bold;
  background-color: #f9f9f9;
  border-radius: 30px;
  -webkit-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.filtering__list-item:hover {
  background-color: #f4f4f4;
}

.filtering__list-item.active {
  color: #ececec;
  background-color: #282828;
}
