.product-card {
  width: 100%;
  margin-bottom: 65px;
  text-align: center;
}

.product-card__image {
  width: 200px;
}

.product-card__title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 1%;
  color: #b8860b;
}

.product-card__selector {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 6px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  color: #b8860b;
  background-color: #f3f3f3;
  border-radius: 10px;
}

.product-card__list {
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.product-card__list:first-of-type {
  margin-bottom: 6px
}

.product-card__list-item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 8px;
  font-size: 14px;
  font-weight: 600;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.active {
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  cursor: auto;
}

.product-card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;

}

.product-card__price {
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.015em;
  color: #b8860b;
}

.product-card__button {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  padding: 6px;
  background-color: #f9f9f9;
  border: 1px solid #b8860b;
  border-radius: 4px;
  /* свойства для эффекта смещения */
  transition: transform 0.2s;
  cursor: pointer;
}

.product-card__button-icon path {
  width: 20px;
  fill: #b8860b;
}

.product-card__button-name {
  padding: 0 3px;
  font-size: 14px;
  color: #b8860b;
}

.product-card__counter {
  font-size: 14px;
  color: #b8860b;
}

.product-card__button:hover {
  background-color: #f4f4f4;
}

.product-card__button:active {
  background-color: #b8860b;
  transform: translateY(2px);
}

.product-card__button:active>.product-card__button-icon path {
  fill: #f9f9f9;
}

.product-card__button:active>.product-card__button-name,
.product-card__button:active>.product-card__counter {
  color: #f9f9f9;
}